// Solid Colors ---------------
$white: #ffffff;
$black: #0e1133;

// Grey Colors ---------------
$grey:#f2f3f6;
$grey-2:#edeef3;


// Footer Colors ---------------
$footer-bg: #000;



// basic color
$t-blue: #de2021;
$t-blue-dark: #010101;
$t-blue-light: #d8f0ff;
$t-purple-light: #f2edf6;
$t-yellow-light: #f6f2ed;
$t-brown: #ffb352;
$t-green: #1abf68;



// Text Colors ---------------
$body-text: #5e5f6b;
$t-text-1: #5e5f6b;



// Border Colors ---------------
$border:#ebedf3;
$border-2:#dedfe6;
$border-3:#f2f3f7;
$border-4:#ebecf2;
$border-5:#dfe0e3;
$border-6:#d5d6da;

// Heading Colors ---------------
$heading-color: #0e1133;

