@font-face {
    font-family: "flaticon";
    src: url("../fonts/flaticon.ttf?328a96fb9a873671aa665a9c9d7c4350") format("truetype"),
url("../fonts/flaticon.woff?328a96fb9a873671aa665a9c9d7c4350") format("woff"),
url("../fonts/flaticon.woff2?328a96fb9a873671aa665a9c9d7c4350") format("woff2"),
url("../fonts/flaticon.eot?328a96fb9a873671aa665a9c9d7c4350#iefix") format("embedded-opentype"),
url("../fonts/flaticon.svg?328a96fb9a873671aa665a9c9d7c4350#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-support:before {
    content: "\f101";
}
.flaticon-devices:before {
    content: "\f102";
}
.flaticon-code:before {
    content: "\f103";
}
.flaticon-document:before {
    content: "\f104";
}
.flaticon-reload:before {
    content: "\f105";
}
.flaticon-light:before {
    content: "\f106";
}
.flaticon-24-hours:before {
    content: "\f107";
}
.flaticon-bootstrap:before {
    content: "\f108";
}
